.price-label {
    margin-top: 0.5rem;
}
//Coloring rules can be found in main.scss as they're global variables
input[type='checkbox'] {
    width: 1em;
    height: 1em;
    margin-right: 1em;
    cursor: pointer;
    font-size: 20px;
}
input[type='checkbox']:after {
    content: ' ';
    width: 1.5rem;
    height: 1.5rem;
    visibility: visible;
    display: inline-block;
    border: solid 2px;
    text-align: center;
}
input[type='checkbox']:checked:after {
    content: '';
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 1.5rem;
    height: 1.5rem;
}
