$select-input-border-radius: 0px;

.hel-select {
    .validation-error-popover.popover.small {
        top: 50%;
    }
    .location-select {
        label {
            font-size: 1.2rem;
            padding-top: 2vh;
        }
    }
}

.css-1wa3eu0-placeholder{
    color: #000000 !important;
}

.select-popover {
    position: absolute;
    left: 100%;
    top: 6%;
}
@media (max-width: 575px) {
    .select-popover {
        left: 30%;
        top: -5%;
    }
}
