{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "plugins": [
    "add-module-exports",
    "@babel/plugin-transform-object-assign",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-json-strings",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-function-sent",
    "@babel/plugin-proposal-function-bind"
  ],
  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    },
    "production": {
      "plugins": [
        "@babel/runtime"
      ]
    }
  }
}
