{
    "api_base": "https://testilinkedevents.turku.fi:8001/v1/",
    "local_storage_user_expiry_time": 48,
    "nocache": true,
    "raven_id": false,
    "publicUrl": "http://localhost:8080",
    "sessionSecret": "dev-secret-do-not-use-in-production",
    "ui_mode": "events",
    "client_id": "CLIENT_ID",
    "openid_audience": "OPENID_AUDIENCE",
    "openid_authority": "OPENID_AUTHORITY",
    "city_theme": false,
    "show_cookie_bar": false
}
