.container  > div  > .row {
    justify-content: space-between;
    margin-right: 0px;
    margin-left: 0px;
    .glyphicon:not(.custom-date-input__button) {
        font-size: 22px;
        padding-left: 15px;
        padding-top: 1px;
        margin-right: 20px;
    }
}
.container  > div > div > div > .row {
    justify-content: space-between;
    margin-right: 0px;
    margin-left: 0px;
    .glyphicon:not(.custom-date-input__button) {
        font-size: 22px;
        padding-left: 15px;
        padding-top: 1px;
        margin-right: 20px;
    }
}

// disables horizontal resizing for the description textareas
textarea {
    resize: vertical;
}

.clipboard-copy-button {
    padding: 3px;
    position: absolute;
    box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
    border-radius: 0px;
    margin-right: -25px;
}

.location-row {
    .clipboard-copy-button {
        right: -30px;
        top: 65px;
    }
}
.audience-row {
    padding-left: 15px;
    padding-right: 15px;
}
.keyword-row {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    .clipboard-copy-button {
        left: 480px;
        top: 65px;
    }
}
.row-header {
    width: 100%;
    text-align: start;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid;
    padding: 0.375rem 0.75rem;
    h2 {
        font-weight: bold;
    }
}
.row-mainheader {
    width: 100%;
    text-align: start;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid var(--light-color);
    padding: 0.375rem 0.75rem;
    background-color: var(--main-color);
    margin-top: 4rem !important;
    @media (min-width: 320px) and (max-width: 768px) {
        margin-top: 2rem !important;
    }
    h1 {
        color: var(--light-color);
        font-weight: bold;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
.date-row,
.description-row,
.offers-row,
.social-media-row,
.keyword-row,
.audience-row,
.event-row,
.location-row,
.inlanguage-row,
.umbrella-row {
    flex-direction: row-reverse;
}
.umbrella-row {
    align-items: center;
    .side-field {
        .tip {
            margin-top: 0px;
        }
        padding-top: 0px;
    }
}
.imagePicker-heading {
    font-size: 1.25rem;
}

// Styling for new Form Inputs
.event-input {
    label {
        font-size: 20px;
        padding-top: 2vh;
    }
    input {
        border: solid 2px;
        &:hover,
        &:focus,
        &:active {
            box-shadow: none;
        }
    }
    textarea {
        border: solid 2px;
        &:hover,
        &:focus,
        &:active {
            box-shadow: none;
        }
    }
}

// Border: none to make sure there won't be any wierdness going on with .place-id, input field
.place-id {
    margin-top: 10px;
    border-bottom-style:dashed;
    border-bottom-width: 2px;
    border-radius: 0px;
    border-color:rgb(84,84,84);
    font-size: 16px;
    input {
        border: none !important;
    }
    .form-control:disabled, .form-control[readonly]{
        background-color: #fff;
        font-size: 16px;
    }
    .form-control{
        border: 0px;
    }
}

.btn-block{
    color: #fff;
    background-color:#0072c6 ;
    margin: 15px 0 15px 0;
    font-size: 15.75px;
    border-radius: 2px;
}

@media (max-width: 544px) {
    .location-row {
        .clipboard-copy-button {
            position: static !important;
        }
    }
    .keyword-row {
        .clipboard-copy-button {
            left: 17px;
            top: 120px;
            z-index: 2;
        }
    }
}

@media (min-width: 544px) and (max-width: 768px) {
    .keyword-row {
        .Select-control {
            width: 90%;
        }
        .clipboard-copy-button {
            left: 515px;
        }
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .keyword-row {
        .Select-control {
            width: 95%;
        }
        .clipboard-copy-button {
            left: 680px;
        }
    }
}

@media (min-width: 1200px) {
    .keyword-row {
        .clipboard-copy-button {
            left: 564px;
        }
    }
}

.hel-select {
    .location-select {
        position: relative;
        z-index: 1;
    }
    .custom-control {
    &-label {
            font-size: 1.2em;
            padding-top: 0px;
    }
}
    .map-button-container {
        display: block;
        text-align: right;
        margin: 5px 0px;
        > button.btn {
            padding-right: 8px;
            background-color: var(--main-color);
            color: var(--black-color);
            border: 1px solid #6c757d;
            &:hover {
                text-decoration: none;
            }
            &:focus {
                border-color: #545b62;
                box-shadow: 0 0 0 0.2rem rgba(130,138,145, 0.5);
                text-decoration: none;
            }
            span.glyphicon {
                margin-right: 0;
                font-size: 16px;
            }
        }
    }

    .map-container {
        width: 100%;
        height: 1px;
        max-height: 500px;
        transition-property: height;
        transition-duration: 0.2s;

        .map-component {
            display: none;

        }
        &.open {
            height: 300px;

            .map-component {
                display: initial;

            }
        }
    }
}
.mainwrapper {
    background-color: white;
    .show {
        background-color: white;
    }
.headerbutton {
    width: 100%;
    font-size: inherit;
    font-weight: bold;
    text-align: start;
    border-bottom: solid;
    white-space: normal;
    span {
        pointer-events: none;
    }
    .glyphicon {
        float: right;
    }
    &.error {
        border-bottom-color: red;
    }
    @media (min-width: 320px) and (max-width: 768px) {
        display: grid;
        span {
            text-align: center;
        }
    }
    }
}

