.image-edit-dialog {
	.modal-header {
		border: none;
		padding: 16px 24px;
		.modal-title {
			padding: 0px;
			margin-top: 0px !important;
			font-weight: 500;
			font-size: 1.25rem;
		}
		button {
			color: black;
			background-color: transparent;
			border: none;
			&:focus {
				outline: -webkit-focus-ring-color auto 5px;
			}
			&:hover &:active {
				background-color: rgba(0, 0, 0, 0.08);
			}
			.glyphicon {
				margin: 0px;
				color: rgba(0, 0, 0, 0.54);
			}
		}
	}

	.modal-body {
		.image-edit-dialog--form {
			.file-upload {
				.image-error {
					margin: 1vh 0 1vh 0;
					color: #dc3545;
				}
				.tip {
					margin-top: 20px;
					margin-bottom: 20px;
					padding: 10px;
					p {
						margin: 0px;
					}
				}
				.file-upload-buttons {
					.file-upload--new {
						margin-bottom: 15px;
					}
					.file-upload--external {
						#upload-external {
							input {
								border-width: 0px 0px 2px 0px;
								border-style: solid;
							}
							.image-url {
								span {
									text-align: center;
								}
								display: grid;
							}
						}
						.tools {
							label {
								display: inline-flex;
								margin-bottom: 0px;
								input[type="checkbox"]::after {
									border: 0;
									width: 1em;
									height: 1em;
								}
							}
						}
					}
				}
			}
		}
	}

	.image-license-container {
		.license-choices {
			margin: 0.5em 0;
			display: flex;
			flex-direction: column;
			input {
				font-size: inherit;
			}

			input[type="checkbox"]::after {
				border: 0;
				width: 1em;
				height: 1em;
			}
			input[type="checkbox"]:checked::before {
				/* Use `visibility` instead of `display` to avoid recalculating layout */
				visibility: visible;
			}
			input[type="radio"] {
				margin-right: 1em;
			}
		}
		.license-help-text {
			display: flex;
			flex-direction: column;
			background: var(--main-color);
			border: 1px solid;
			color: var(--black-color);

			&.tip {
				margin: 0;
				padding: 10px;
			}
		}
	}
	.help-notice {
		margin-top: 10px;
	}
	.image-edit-dialog--image {
		object-fit: contain;
	}
	.btn-primary.disabled:hover {
		background-color: #6c757d;
	}

	.disabled:disabled {
		background-color: #6c757d;
		border: none;
	}
}
