doctype
html.no-js
    head
        meta(charset='UTF-8')
        meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name='title' content='Turun Linked Events - Turun tapahtumat - Turun kaupungin tapahtumatietokanta')
        meta(name='description' content='Turun kaupungin Linkedevents-UI käyttöliittymä tapahtumien luomiseen ja muuttamiseen Linked Events rajapinnassa. Lisää ja etsi Turun seudun tapahtumia. Linkedevents-ui, Tapahtumarajapinta, Turun tapahtumat, Turun tapahtumakalenteri, Tapahtumat, Harrastukset, Kurssit')
        - var instanceName = ui_mode === 'courses' ? 'Linked Courses' : 'Linked Events'
        title #{instanceName} UI
        script(type='text/javascript').
            window.appSettings = !{configJson};

    body
        if APP_MODE == 'testing'
            #testingmessage
                | Huom! Tämä on testiversio.
        div(style={height: '100%'})
            #content
        if APP_MODE == 'development'
            script(src="/scripts/main.js" type="text/javascript")
