.event-pickers {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 1200px) {
        display: block;
}
.custom-date-input {
    .form-control {
        padding: 5px;
    }
    .input-and-button{
        display: flex;
    }
  }
}
